@mixin pseudo-position ($top, $border-radius) {
  content:'';
  position:absolute;
  z-index: -1;
  top: $top;
  left: 0;
  width: 100%;
  height:100%;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  border-radius: $border-radius;
}

@mixin line () {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #007fff;
}


@font-face {
  font-family: 'Circe-Regular';
  src: url('../fonts/Circe-Regular.ttf') format('truetype'),
  url('../fonts/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe-Regular.eot') format('eot');
}

@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold.ttf') format('truetype'),
  url('../fonts/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe-Bold.eot') format('eot');
}

@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('../fonts/Circe-ExtraBold.ttf') format('truetype'),
  url('../fonts/Circe-ExtraBold.woff') format('woff'),
  url('../fonts/Circe-ExtraBold.eot') format('eot');
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Circe-Regular';
  font-size: 12px;
  cursor: default;
}

a {
  font-size: 13px;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background: url('../images/bg.png') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  height: 110px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.wrap {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}



.header a {
  /*margin-left: 42px;*/
  margin-left: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Circe-ExtraBold';
  &:visited {
    color:black;
  }
  &:first-child {
    margin-right: 167px;
    display: inline-block;
    vertical-align: middle;
  }
}

.header__nav-logo {
  width: 70px;
  height: 72px;
}

.header__nav-name {
  display: none;
}

.header .lines {
  display: none;
  width: 30px;
  height: 11px;
  position: relative;

  &:before {
    @include line();
    top:0; left:0;
  }
  &:after {
    @include line();
    bottom:0;left:0;
  }
}

.content-description {
  font-size: 29.8px;
  color:white;
  text-align: center;
  line-height: 1.5;
  padding: 44px 0 65px;
  letter-spacing: 0.5px;
  & span {
    font-size: 35.7px;
    font-family:'Circe-Bold';
  }
}

.content__selectors {
  background-color: rgba(4, 24, 36, 0.4);
  width: 100%;
  height: 93px;
  display: flex;
  align-items: center;
}

.content__selectors-cell {
  width: 80px;
  padding-left: 30px;
  text-align: left;
  display: block;

  &.small {
    display: none;
  }
}

.content__selectors-date {
  position: relative;
  height: 32px;
  width: 177px;
  padding: 10px 7px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color:#989898;

  &.separate {
    display: none;
  }
}

.content__datepicker {
  display: block;
  width: 541px;
  padding: 24px 17px;
  position: absolute;
  background-color: white;
  top: 63px;
  border-radius: 5px;
  pointer-events: auto;
  opacity: 1;

  transition: opacity 200ms linear;

  &.inactive {
    opacity: 0;
    pointer-events: none;
  }
  &:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    box-shadow: none;
    content: "";
    position: absolute;
    left: 143px;
    border-bottom: 9px solid #fff;
    top: -8px;
  }
}

.ui-datepicker-group-first {
  display: table-cell;
  padding-right: 15px;
  border-right: 1px solid #e8e8e8;
  & .ui-datepicker-title {
    text-align: right;
    font-family: 'Circe-Bold';
    font-size: 15px;

  }
}

.ui-datepicker-group-last {
  padding-left: 15px;
  display: table-cell;
  & .ui-datepicker-title {
    text-align: left;
    font-family: 'Circe-Bold';
    font-size: 15px;
  }
}

.ui-datepicker-prev, .ui-datepicker-next {
  margin-top: 0;
  position: absolute;
  width: 30px;
  height: 20px;
  background: url(../images/sprite.png) -56px -47px no-repeat;
  display: inline-block;
  line-height: 0;
  font-size: 0;
  speak: none;
  cursor: pointer;
  left: 24px;
}

.ui-datepicker table.ui-datepicker-calendar th {
  color: #007fff;
  font-size: 10px;
  font-family: 'Circe-Regular';
  text-transform: uppercase;

  & span {
    min-width: 30px;
    padding: 11px 0;
    display: block;
    text-decoration: none;
  }
}

.ui-datepicker-calendar {
  border-spacing: 0;
  & tbody {
    text-align: center;
  }
}

tbody td:hover{
  position: relative;
  &:before {
    content:'';
    position: absolute;
    top:0;left: 0;
    width: 38px;
    height: 27px;
    background: url(../images/sprite.png) no-repeat -90px -69px;
  }
}

.ui-datepicker-unselectable:hover {
  &:before {
    display: none;
  }
}

tbody tr td:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

tbody tr td:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ui-datepicker .ui-state-disabled {
  opacity: .4;
}



.ui-datepicker-next {
  background-position: -88px -47px;
  right: 24px;
  left: auto;
}

.ui-datepicker td {
  width: 36px;
  border: 0;
  padding: 1px;
  vertical-align: top;
  font-size: 1.4rem;
  color: #666;
  overflow: hidden;

}

.ui-datepicker td .ui-state-default{
  border: 0;
  background: none;
  margin-bottom: 0;
  padding: 10px;
  color: black;
  text-align: center;
  filter: none;
  position: relative;
}

.TEXT-4138 .ui-datepicker td {
  padding: 1px 0;
}

.selected {
  background-color: #f0f0f0;
}

.ui-datepicker-week-end a.ui-state-default {
  color:red;
}

.ui-datepicker .selected-start:not(.selected-end){
  position: relative;
  &:before {
    content:'';
    position: absolute;
    top:0;left: 0;
    width: 30px;
    height: 27px;
    background: url(../images/sprite.png) no-repeat -4px -69px;
  }
}

.ui-datepicker .selected-end:not(.selected-start){
  position: relative;
  &:before {
    content:'';
    position: absolute;
    top:0;right: 0; left: auto;
    width: 30px;
    height: 27px;
    background: url(../images/sprite.png) no-repeat -46px -68px;
} }

.ui-datepicker .selected.first-of-month:not(.selected-start) a {
  border-left: 2px dotted #D4E7F6;
  padding-left: 1px;
}



.ui-datepicker table.ui-datepicker-calendar td .ui-state-active a{
  min-width: 30px;
  background-color: #f0f0f0;
}


.content__selectors-persons {
  position: relative;
  height: 32px;
  width: 363px;
  padding: 10px 7px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  margin-left: 29px;
  text-align: left;
  display: flex;
  align-items: center;

  & .icon {
    height: 28px;
  }

  & input[type="text"] {
    display: none;
  }
}



.content__persons_frame {
  position: absolute;
  top: 63px;
  opacity: 0;
  pointer-events: none;
  background-color:white;
  width: 250px;
  height: auto;
  border-radius: 5px;
  padding: 10px 27px 20px;
  cursor: default;

  transition: opacity 200ms linear;

  &.active {
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0px 5px 34px -5px rgba(0,0,0,0.37);
  }

  &:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    box-shadow: none;
    content: "";
    position: absolute;
    left: 143px;
    border-bottom: 9px solid #fff;
    top: -8px;
  }

  & ul {
    list-style: none;
  }

  & .fd-r {
    height: 70px;
    line-height: 70px;
    position: relative;
  }

  & li:not(:last-of-type):after{
    content:'';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
  }
}


.counter-name, .counter-fields {
  display: inline-block;
  vertical-align: middle;
  color:black;
  font-size: 15px;
  text-align: center;
}

.counter-name {
  width: 134px;
  text-align: left;
}

.counter-name.kids {
  color:#787878;
  font-size: 14px;
  text-align: center;
}

.counter-field_num.kids {
  width: 59px;
  margin: 0;
  appearance: none;
  text-align-last: center;
  padding-right: 23px;
  cursor: pointer;
  background-color: white;
}

.kids_age {
  height: auto;
  line-height: 50px;
  display: block;

  &.inactive {
    display: none;
  }

  & li {
    height: auto;
    line-height: 1.2;
  }
}
.kids_age-list {
  text-align: left;
}

.kids_age-list-item {
  display: inline-block;
  margin-right: 9px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    right: 12px;
    top: 50%;
    width: 10px;
    height: 12px;
    margin: -9px 0 0 4.5px;
    background: url(../images/sprite.png) no-repeat -43px -34px;
  }
}

.сell-results {
  width: 100%;
  height: 100%;
  line-height: 32px;
  color:black;
  font-size: 15px;
}

.counter-fields {
  display: flex;
  align-items: center;
}

.counter-field.remove, .counter-field.add {
  width: 13px;
  position: relative;
  cursor: pointer;

  &.inactive:before {
    background-position: -21px -53px;
  }
  &:before {
    content:'';
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 9px;
    margin: -4.5px;
    background: url(../images/sprite.png);
    background-position: -21px -33px;
  }
}

.counter-field.add {
  &.inactive:before {
    background-position: -3px -50px;
  }

  &:before {
    height: 15px;
    margin: -7.5px -3.5px;
    background-position: -3px -30px;
  }
}

.counter-field_num {
  margin: 0 19px;
  height: 32px;
  line-height: 32px;
  width: 44px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  box-shadow: inset 0 16px 24px -15px rgba(0,0,0,.2)
}

.content__selectors-button {
  height: 52px;
  width: 180px;
  background-color: #00cf88;
  border-radius: 5px;
  color:white;
  border:none;
  margin-left: 29px;
  cursor: pointer;
  transition: background-color 200ms linear;

  &:hover {
    background-color: #00c281;
  }

  & span {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.8px;
    line-height: 1;
  }
}

.icon {
  position: relative;
  width: 32px;
  height: 21px;
}

.icon:before {
  content:'';
  position: absolute;
  width: 32px;
  height: 21px;
  background: url('../images/sprite.png') no-repeat;
}

.icon.check-in:before {
  background-position: -3px -4px;
}

.icon.check-out:before {
  background-position: -47px -4px;
}

.icon.person:before {
  width: 24px;
  height: 28px;
  background-position: -86px -4px;
}

input[type="text"] {
  font-weight: 600;
  display: block;
  height: 19px;
  border:none;
  background-color: transparent;
  cursor: pointer;
  color:#000;
}


.fd-r {
  display: flex;
  flex-direction: row;
}

.big {
  font-size: 43px;
  color: #000;
  font-family: Circe-Bold;
  height: 43px;
  line-height: 48px;
  padding: 0 15px 0 0;
}

.fd-c {
  display: flex;
  flex-direction: column;
}

.rb-none {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 1px;
}

.lb-none {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.blue {
  color:#007fff;
}

.pr {
  position: relative;
}

.ai-c {
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .header a {
    margin-left: 15px;
  }
}

@media (max-width: 980px) {
  body {
    overflow-x: hidden;
  }
  .header__nav-logo {
    display: none;
  }

  .header__nav-name {
    display: block;
  }
  .header a {
    display: none;
    &:first-child {
      margin: 0 0 0 18px;
      float: left;
    }
  }

  .header {
    height: 55px;
  }

  .header .lines {
    display: inline-block;
    margin-right: 18px;
    float: right;
  }

  .wrap {
    width: 100%;

    &.fd-r {
      flex-direction: column;
    }

  }

  .content__selectors-cell {
    display: none;

    &.small {
      display: flex;
      align-items: center;
      padding-top: 11px;
    }
  }

  .content-description {
    font-size: 20.8px;
    padding: 29px 0;
    line-height: 1.2;
    & span {
      font-size: 26.8px;
      line-height: 1.4;
    }
  }
  .content__selectors {
    height: auto;
    background-color: white;
  }

  .content__selectors-button {
    width: auto;
    margin: 20px 18px;
    border-radius: 0;
    background: linear-gradient(to bottom, rgba(0,219,145,1) 0%,rgba(0,192,127,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .content__selectors-date {
    width: auto;
    padding: 10px 0;

    &.separate {
      width: 80px;
      display: block;
      position: relative;
      line-height: 0px;
      padding: 10px;
      padding-top: 19px;
      border-right: 1px solid #e7eff4;
      border-left: 1px solid #e7eff4;
      border-radius: 0;
      height: 0px;

      &:before {
        content: '';
        position: absolute;
        top: 64%;
        left: 11px;
        width: 11px;
        height: 15px;
        margin-top: -7.5px;
        background: url(../images/sprite.png) no-repeat -61px -32px;
      }
    }
  }

  .content__selectors-persons {
    margin-left: 0;
    height: auto;
    width: auto;
    padding: 10px 0;
    justify-content: center;

    & .icon, .сell-results {
      display: none;
    }
  }

  .content__selectors-date {
    padding: 38px 18px 10px;
    & .icon {
      width: 0;

      &:before {
        content:'Дата заезда';
        background: none;
        font-style: normal;
        white-space: nowrap;
        top: -20px;
        left: 0;
      }
    }
  }

  .lb-none .icon:before {
    content: 'Дата выезда';
  }

  .content__selectors-cell {
    padding-left: 0;
  }

  .content__persons_frame {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    top:0;
    width: 100%;
    padding: 0 0 20px;

    &:before {
      display: none;
    }

    & .fd-r {
      justify-content: center;

      &:first-of-type:before {
        content:'';
        position: absolute;
        top: -1px;
        width: 100%;
        height: 1px;
        background-color: #e9e9e9;
      }
    }
  }

  .content__datepicker {
    z-index: 1;
    width: 100%;
    top:80px;
  }

  .ui-datepicker-group-last {
   display: none;
  }

  .ui-datepicker-group-first .ui-datepicker-title {
    text-align: center;
  }
  .counter-name {
    width: 60px;
    &.kids {
      width: auto;
    }
  }

  .kids_age {
    padding-left: 18px;
  }
  .counter-field_num {
    margin: 0 0 0 9px;
  }

  .counter-field.add, .counter-field.remove {
    position: initial;

    &:before {
      top:50%;
      left:33px;
    }
  }

  .counter-field.add:before {
    left: auto;
    right: 33px;
  }

  .ui-datepicker-calendar {
    margin: 0 auto;
  }
}


@media (max-width: 412px) {
  .content-description {
    font-size: 14px;
    padding: 29px 0;

    & span {
      font-size: 17px;
    }
  }

}
